<!-- http://docs.mathjax.org/en/latest/index.html -->
<!-- http://docs.mathjax.org/en/latest/tex.html#tex-support -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
        },
        TeX: {
            equationNumbers: {
                autoNumber: "AMS"
            },
            extensions: ["enclose.js"]
        },
        showProcessingMessages: true
    });
</script>
<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>